<div class="row row-cols-1" id="mainContainer">
    @for(card of cardsList; track $index) {
    <div class="col mx-2">
        <div class="card shadow" id="card">
            <div class="card-body" aria-expanded="true">
                <div class="container">
                    <dl class="row">
                        <dt class="col">
                            {{ card.company }}, {{ card.location.state }},
                            {{ card.location.city }}
                        </dt>
                        <dd class="col">
                            <p>{{ card.startDate }}-{{ card.endDate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="container" id="bulletContainer">
                    <ul>
                        @for(bullet of card.body; track $index ) {
                        <ul>
                            <p class="fs-6">{{ bullet }}</p>
                        </ul>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    }
</div>