<div class="container-fluid">
    <div class="row" style="background-color: white;">
        <div class="col-sm text-center pt-5 pb-1" style="border:2px blue; background-color: white;" >
            <img src="assets/IMG_8639.png" class="profilePicture"/>
        </div>
        <div class="col-md p-5" style="border:2px red; background-color: white;">
            <div class="profileTextContainer">
                <h1>Christopher Castrillon</h1>
                <h3>Software Engineer II</h3>
                <small>New Hyde Park, New York</small>
                <p style="font-size: large;">Innovative and results-driven Software Engineer with 5 years of experience designing and developing full-stack
applications in Java, Javascript/Typescript, and Python. Experience with both legacy mainframe environments as well as
cloud-native applications on AWS. Excellent communicator with a talent for translating complex technical concepts into
easily understandable terms.</p>
            </div>
        </div>
    </div>

</div>
