<div class="container-fluid">
    <div class="row" style="background-color: white;">
        <div class="col-4 text-center pt-5 pb-5" style="border:2px blue; background-color: white;" >
            <img src="assets/IMG_8639.png" class="profilePicture"/>
        </div>
        <div class="col-8 p-5 align-self-center" style="border:2px red; background-color: white;">
            <div class="profileTextContaine">
                <h1>Christopher Castrillon</h1>
                <h3>Software Engineer II</h3>
                <small>New Hyde Park, New York</small>
                <p style="font-size: large;">Cloud certified Technology Analyst with 4 years experience developing and supporting enterprise grade AWS cloud-native JavaScript and full-stack Java applcations</p>
            </div>
        </div>
    </div>

</div>
